<div id="footer">

<div id="footer-links">
	<a href="@routes.Application.index()">Home</a> - <a href="@routes.TeamController.team()">Team &amp; Contact</a>
</div>

<div id="footer-fp7">
  <div id="fp7-logo"><a href="http://cordis.europa.eu/fp7/ict/"><img src="@routes.Assets.at("images/eu-flag.png")" alt="European Union flag" title="European Union flag"></a></div>
  <span> <span class="italic">Mediation component website</span> is created by the <a href="http://disaster-fp7.eu">DISASTER project</a> consortium </span>
  <br>  
  <span class="less-important">This project has received funding from the European Union’s Seventh Framework Programme for research, technological development and demonstration under grant agreement no 285069</span>
</div>

</div>
<script type="text/javascript" src="@routes.Assets.at("javascripts/scripts.js")"></script> 
