<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")" type="image/png">
<link href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))" rel="stylesheet">
<link href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-responsive.min.css"))" rel="stylesheet">	
<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->  
<!--[if lt IE 9]>
	<script src="@routes.Assets.at("javascripts/html5shiv.min.js")"></script>    
<![endif]-->

<script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
<script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))"></script>



