<div class="page-header">
	<h1 id="logo">
        <a href="http://disaster-fp7.eu"><img src="@routes.Assets.at("images/logo-disaster-oneline.png")" alt="DISASTER" title="DISASTER"/></a>
		<small>Mediation component website</small>
	</h1>
</div>
