.custom-nav-header {
	margin: 9px 1px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #fff;
	font-size: xx-large;
	line-height: 26px;
	text-transform: none;
}

.custom-nav-header span {
	float: right;	
	font-size: small;
}

.lang{
	color: green;
}

.thumbnail img
 {
	max-height: 200px;
}

.thumbfix .thumbnail img
 {
	max-width: 200px;
}


div.thumbnails a img.thumbnail {
	display: inline;
}

.inline {
	display: inline !important;
}

.accordion {
	cursor: pointer;
}

.my-text-center {
	text-align: center;
}

#viewed-with {
	display: inline;
	float: right;
}

#logo {
	display: inline;
}

#fp7-logo {
	float: right;
	padding-right: 1em;	
	padding-left: 1em;	
}

#ctic-logo {
	float: left;
	padding-left: 1em;	
	padding-right: 1em;	
}

.less-important {
	font-size: smaller;
}

html,body
{
height:100%;
}


#wrap
{
min-height: 100%; 
}

#main
{
overflow:auto;
padding-bottom:130px; /* this needs to be bigger than footer height*/
}

#footer 
{
position: relative;
margin-top: -130px; /* negative value of footer height */
height: 130px;
clear:both;
color:#fff;
padding-top: 1.5em;
} 

/* footer based on http://bootstrapfooter.codeplex.com */
#footer-fp7
{
	min-height: 100px;
	padding-top: 10px;
	clear:both;
	color:#525252;
	text-align: center;
	background-color: #CFCFCF;
} 


#footer-links
{
	height: 20px;
	color:#525252;
	text-align: center;
	background-color: #FCE598;
}

/* Extracted from http://stackoverflow.com/questions/17169304/bootstrap-thumbnails-second-row-not-sitting-correctly */

li.thumbfix.span12 + li { margin-left : 0px; clear: both; }
li.thumbfix.span6:nth-child(2n + 3) { margin-left : 0px; clear: both; }
li.thumbfix.span4:nth-child(3n + 4) { margin-left : 0px; clear: both; }
li.thumbfix.span3:nth-child(4n + 5) { margin-left : 0px; clear: both; }
li.thumbfix.span2:nth-child(6n + 7) { margin-left : 0px; clear: both; }
li.thumbfix.span1:nth-child(12n + 13) { margin-left : 0px; clear: both; }

ul.thumbnails.mainpage li.thumbfix div.thumbnail img {
	max-width: 300px;
	max-height: 200px;
}

ul.thumbnails.mainpage li.thumbfix div.thumbnail div.caption p:nth-child(3) {
	text-align: center;
}

ul.availableLanguages{
	text-align: right;
}

ul.availableLanguages li{
	display:inline;
}

.lang {
	color: #009933;
}

.activeLang{
	color: white;
	background-color: #009933;
	padding: 3px;
}

a.external-link:link {
background: url("../images/external-link.png") no-repeat 100%;
padding: 0 15px 0 0;
}

li.search-result {
	list-style-image: url('../images/search-result-bullet.png');
}